/// fuentes y colores standar d del site

//colores
 $negro: rgb(38, 38, 38);
 $verde: rgb(152, 249, 238);
 $amarillo: rgb(255, 228, 0);
 $beige: lighten($amarillo, 50%);

//fuentes
@font-face {
    font-family: 'bebas';
    src: url('fonts/BebasNeue.eot');
    src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue.ttf') format('truetype'),
         url('fonts/BebasNeue.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chalk';
    src: url('fonts/DKCoolCrayon.eot');
    src: url('fonts/DKCoolCrayon.eot?#iefix') format('embedded-opentype'),
         url('fonts/DKCoolCrayon.ttf') format('truetype'),
         url('fonts/DKCoolCrayon.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$standard: 'bebas', helvetica, arial;
$tiza: 'chalk', Sans, verdana;


h1, h2, h3, h4, h5, h6{
  font-family: $tiza;
  text-transform: none;
  font-weight: normal;
}

p{
  font-family: $standard;
  font-size: 18px;
}

a{
  font-family: $standard;
  font-size: 18px;
  &:hover{
    transition: all 0.8s ease;
    color: $amarillo;
    img{
      opacity: 0.8;
      transition: all 0.8s ease;
    }
  }
}
