///elementos individuales

@mixin boton($color, $bg ) {
   padding: 8px 12px;
   font-family: $standard;
   background: $bg;
   color: $color;
   font-size: x-large;
   &:hover{
     cursor: pointer;
     background: lighten($color, 30%);
     @include lift;
     color: lighten($bg, 30%)
   }

}


@mixin input($bg, $color) {
  padding: 6px 12px;
  background: $bg;
  font-family: 'Raleway', Serif, Helvetica;
  @include ease(all);
  &:focus{
    background: darken($bg, 50%);
    color: lighten($color, 50%);
    @include ease(all);
  }
}
