@media all and(max-width: 800px) {
  //index
  .content{
    .hojas-l, .hojas-r {z-index: 1;}
    .content-holder{
      z-index: 2;
      .man{display: none;}
      section{
        height: 99vh;
        width: 100%;
        position: relative;
        p{
          width: 90%;
          font-size: large;
        }
        .medio-vaso{
          position: absolute;
          left: 0px;
          right: 0px;
          margin: 0 auto;
          width: 45%;
        }
      }
    }
  }
  //preguntas
  .preguntas{
    header{
      width: 100%;
      img{width: 100%;}
      p{
        margin: 10px auto 20px auto !important;
        font-size: medium !important;
      }
    }
    .pizarras{
      width: 100%;
      overflow-x: scroll;
      .pizarra-holder{
        width: 1118px;
        text-align: left;
        figure{
          height: 324px;
          width: 250px;
        }
      }

    }
    .respuesta{
      form{
        max-width:80% !important;
        input{
          margin: 10px auto;
          width: 100% !important;
        }
      }
    }
  }
  //enchula
  .enchula{
    width: 100%;
    .content-holder{
      width: 98%;
      header{
        img{width: 100%;}
      }
      .pizarron{
        h1{
          width: 100%;
          font-size: medium;
        }
      }
      .respuesta{
        .emoji{
          width: 100%;
        }
      }
      .vaso{
        display: none;
      }
    }
  }
  .enviar{
    width: 100%;
    .content-holder{
      width: 98%;
      header{
        img{width: 100%;}
      }
      .pizarron{
        h1{
          width: 100%;
          font-size: large;
        }
        #canvas{
          margin: 0 auto;
          p{
            width: 95% !important;
            font-size: x-large !important;
          }
        }
      }
      .button-holder{
          width: 100%;
      }
      .vaso{
        display: none;
      }
    }
  }

  //modales
  footer{
    .modal{
      position: absolute;
      section{
        height: auto;
        min-height: 428px !important;
        max-height: 600px !important;
        overflow-y: scroll; 
        header{
          width: 100%;
          h1{font-size: large;}
          p{font-size: medium;}
        }
        .instrucciones{
          width: 100%;
          height: 190px;
          overflow-x: scroll;
          .inst-holder{
            min-width: 1280px;
            img{
              max-width: 250px;
              position: relative;
              top:0px;
              left:0px;
              right: 0px;
              bottom: 0px;
              margin: 0px 10px;
              display: inline-block;
              vertical-align: middle;
            }
            .follow{display: none;}
          }
        }
        .fa-close{font-size: large;}
        .vaso{display: none;}
        .listo{position: relative; margin:0 auto; left: 0px; right: 0px; display: block;}
      }
    }
  }
}
