/*////////////reset///////////////*/
body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,textarea,blockquote{ margin:0;padding:0;border:0;outline:none; text-decortion: none !important;}


a{text-decoration: none !important;}
