@import "reset";
@import "fonts-colors";
@import "effects";
@import "mixins";


//standards
::-webkit-scrollbar{
  width: 8px;
  background: darken($verde, 50%);
}
::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background: $amarillo;
}

//content
.content{
  position: relative;
  background: url(images/bg.png) no-repeat;
  background-size: cover;
  .hojas-l{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 100vh;
    max-width: 400px;
    img{height: 100%;}
  }
  .hojas-r{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    height: 100vh;
    max-width: 400px;
    img{height: 100%;}
  }
  //index
  .content-holder{
    max-width: 1100px;
    overflow-x: hidden;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    .man{
      position: absolute;
      bottom: 0vh;
      z-index: 32;
      width: 35%;
      left: 20px;
      padding: 0px;
      margin: 0px;
      img{width: 100%;}
    }
    section{
      text-align: center;
      width: 80%;
      position: absolute;
      bottom: 0vh;
      right: 3px;
      .titulo{
        margin: 10px auto;
        display: block;
        width: 70%;
        padding: 0px;
      }
      p{
        width: 50%;
        margin: 0 auto;
        font-family: $tiza;
        color: $negro;
      }
      button{
        @include boton($negro, $amarillo);
        display: block;
        margin: 20px auto;
      }
      .medio-vaso{
        margin: 0 auto;
        position: relative;
      }
    }
  }
  //preguntas
}
.preguntas{
  .centered-leafs{
    // display: none;
    position: absolute;
    top: 0px;
    height: 100vh;
    img{width:100vw; height: 100vh;}

  }
  .content-holder{
    header{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      img{max-width: 400px;}
      p{
        margin: -30px auto 0 auto;
        width: 90%;
        font-family: $tiza;
        font-size: large;
      }
    }
    .pizarras{
      width: 100%;
      text-align: center;
      figure{
        width: 15.5%;
        height: 220px;
        display: inline-block;
        background: url(images/cuadro.png) no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 20px;
        @include lift;;
        p{
          position: absolute;
          width: 60%;
          left:0px;
          right: 0px;
          margin: 0 auto;
          top: 60px;
          text-align: center;
          color: white;
          font-family: $tiza;
        }
        .o-piz{
          height: 100%;
          width: 100%;
        }
      }
    }
    .respuesta{
      form{
        max-width: 50%;
        margin: 0 auto;
        textarea{
          max-height: 100px;
          width: 100%;
          margin: 5px auto;
          @include input(white, $negro);

        }
        input{
          width: 49.5%;
          display: inline-block;
          @include input(white, $negro);
        }
      }
      button{
        display: block;
        @include boton($amarillo, $negro);
        margin: 20px auto;
      }
    }
  }
}
.enchula{
  .centered-leafs{
      // display: none;
      position: absolute;
      top: 0px;
      height: 100vh;
      width: 99vw;
      img{width:100vw; height: 100vh}

    }
  header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    img{max-width: 400px;}
    p{
      margin: -30px auto 0 auto;
      width: 90%;
      font-family: $tiza;
      font-size: large;
    }
  }
  .content-holder{
    width: 90%;
    margin: 0 auto;
    position: relative;
    .pizarron{
      width: 80%;
      margin: 0 auto;
      height: 350px;
      background: url(images/chalk-texture.png);
      @include lift;
      h1{ text-transform: lowercase; width: 50%; padding: 20px 0px; margin: 0 auto; text-align: center; color: white;}
      canvas{
        width: 100%;
        height: 300px;
      }
    }
    .emoji{
      display: block;
      position: relative;
      margin: 20px auto;
      width: 40%;
      ul{
        li{
          margin: 0px 12px;
          &:hover{cursor: pointer;}
        }
      }
    }
    .vaso{
      position: absolute;
      bottom: 80px;
      left: -10px;
      max-width: 200px;
    }
    button{
      display: block;
      margin: 20px auto;
      @include boton($amarillo, $negro);
    }
  }

}
.enviar{
  .centered-leafs{
      // display: none;
      position: absolute;
      top: 0px;
      height: 100vh;
      width: 99vw;
      img{width:100vw; height: 100vh}

    }
  header{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    img{max-width: 400px;}
    p{
      margin: -30px auto 0 auto;
      width: 90%;
      font-family: $tiza;
      font-size: large;
    }
  }
  .content-holder{
    width: 90%;
    margin: 0 auto;
    position: relative;
    .pizarron{
      width: 80%;
      margin: 0 auto;
      height: 350px;
      background: url(images/chalk-texture.png);
      @include lift;
      h1{ text-transform: lowercase; width: 50%; padding: 20px 0px; margin: 0 auto; text-align: center; color: white;}
      #canvas{
        width: 100%;
        height: 300px;
        figure{
          width: 50%;
          margin: 0 auto;
          text-align: center;
        }
        p{
          width: 60%;
          margin: 30px auto;
          color: white;
          font-size: xx-large;
          font-family: $tiza;
          text-align: center;

        }
      }
    }
    .button-holder{
      display: block;
      position: relative;
      margin: 20px auto;
      width: 40%;
      text-align: center;
      button{
        display: inline-block;
        margin: 20px auto;
        @include boton($amarillo, $negro);
      }
    }
    .vaso{
      position: absolute;
      bottom: 80px;
      left: -10px;
      max-width: 200px;
    }

  }
}
//modales
footer{
  .modal{
    display: none;
    top:0px;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    section{
      padding: 20px;
      display: block;
      position: relative;
      top: -100vh;
      margin: 0 auto;
      max-width: 950px;
      min-height: 750px;
      background: url(images/chalk-texture.png) no-repeat;
      background-size: cover;
      @include lift;
      @include ease(all);
      .fa-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: xx-large;
        color: white;
        border: 1px solid white;
        padding: 4px 6px;
        @include ease(all);
        &:hover{
          color: $amarillo;
          cursor: pointer;
          @include ease(all);
          @include lift;
        }
      }
      header{
        width: 60%;
        margin: 20px auto;
        text-align: center;
        color: white;
        h1{color: $amarillo; font-size: 34px;}
        p{font-family: $tiza;}
        h3{font-size: 28px;}

      }
      .instrucciones{
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: 60%;
        @include ease(all);
        .p1{position: absolute; right: 0px; left: 284px; top: 10px;}
        .recuerda{position: absolute; left: 4px; top: 40px;}
        .p2{position: absolute; right: 20px; top: 88px;}
        .p3{position: absolute; bottom: 120px; left: 15px;}
        .p4{position: absolute; right: 80px; bottom: 60px;}
        .follow{position: absolute; top: 150px; left: 35%;}
        img{max-width: 250px;}
      }
      .vaso{
        position:absolute;
        bottom: 10px;
        left: 15%;
        max-height: 200px;
      }
      .listo{
        position:absolute;
        bottom: 25px;
        right: 10%;
        max-height: 200px;
      }
      button{
        @include boton($negro, $beige );
        display: block;
        margin: 0 auto;
      }
    }
    section.alert1{
      padding: 20px;
      display: block;
      position: relative;
      top: 25vh;
      margin: 0 auto;
      max-width: 650px;
      min-height: 250px;
      background: url(images/chalk-texture.png) no-repeat;
      background-size: cover;
      @include lift;
      .fa-close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: xx-large;
        color: white;
        border: 1px solid white;
        padding: 4px 6px;
        @include ease(all);
        &:hover{
          color: $amarillo;
          cursor: pointer;
          @include ease(all);
          @include lift;
        }
      }
      .vaso{
        position:absolute;
        bottom: -10px;
        left: -60px;
        max-height: 200px;
      }
      h1{
        color: white;
        width: 50%;
        margin: 10px auto;
        font-size: 2.4em;
        text-align: center;
      }
      h3{
        color: white;
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }

    }
    section.legal{
      color: white;
      h1{
        margin: 40 auto;
        text-align: center;
        font-size: xx-large;

        width: 50%;
      }
      .terminos{
        width: 80%;
        font-size: medium;
        text-transform: lowercase;
        margin: 0 auto;
        p{font-family: 'Raleway', sans-serif; font-size: 14px; margin: 12px 0px;}
      }
      button{
        margin: 0 auto;
        display: block;
        @include boton($amarillo, $negro);
      }
    }
  }
}

@import "mobile";
