/*////////////reset///////////////*/
body, div, a, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decortion: none !important;
}

a {
  text-decoration: none !important;
}

@font-face {
  font-family: 'bebas';
  src: url("fonts/BebasNeue.eot");
  src: url("fonts/BebasNeue.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue.ttf") format("truetype"), url("fonts/BebasNeue.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'chalk';
  src: url("fonts/DKCoolCrayon.eot");
  src: url("fonts/DKCoolCrayon.eot?#iefix") format("embedded-opentype"), url("fonts/DKCoolCrayon.ttf") format("truetype"), url("fonts/DKCoolCrayon.svg#opficioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "chalk", Sans, verdana;
  text-transform: none;
  font-weight: normal;
}

p {
  font-family: "bebas", helvetica, arial;
  font-size: 18px;
}

a {
  font-family: "bebas", helvetica, arial;
  font-size: 18px;
}
a:hover {
  transition: all 0.8s ease;
  color: #ffe400;
}
a:hover img {
  opacity: 0.8;
  transition: all 0.8s ease;
}

.up {
  top: 1vh !important;
  transition: all 0.8s ease;
}

::-webkit-scrollbar {
  width: 8px;
  background: #088a7b;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ffe400;
}

.content {
  position: relative;
  background: url(images/bg.png) no-repeat;
  background-size: cover;
}
.content .hojas-l {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 100vh;
  max-width: 400px;
}
.content .hojas-l img {
  height: 100%;
}
.content .hojas-r {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  height: 100vh;
  max-width: 400px;
}
.content .hojas-r img {
  height: 100%;
}
.content .content-holder {
  max-width: 1100px;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  height: 100vh;
}
.content .content-holder .man {
  position: absolute;
  bottom: 0vh;
  z-index: 32;
  width: 35%;
  left: 20px;
  padding: 0px;
  margin: 0px;
}
.ovhidden{
  overflow-y: hidden;
}
.content .content-holder .man img {
  width: 100%;
}
.content .content-holder section {
  text-align: center;
  width: 80%;
  position: absolute;
  bottom: 0vh;
  right: 3px;
}
.content .content-holder section .titulo {
  margin: 10px auto;
  display: block;
  width: 70%;
  padding: 0px;
}
.content .content-holder section p {
  width: 50%;
  margin: 0 auto;
  font-family: "chalk", Sans, verdana;
  color: #262626;
}
.content .content-holder section button {
  padding: 8px 12px;
  font-family: "bebas", helvetica, arial;
  background: #ffe400;
  color: #262626;
  font-size: x-large;
  display: block;
  margin: 20px auto;
}
.content .content-holder section button:hover {
  cursor: pointer;
  background: #737373;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  color: #fff499;
}
.content .content-holder section .medio-vaso {
  margin: 0 auto;
  position: relative;
}

.preguntas .centered-leafs {
  position: absolute;
  top: 0px;
  height: 100vh;
}
.preguntas .centered-leafs img {
  width: 100vw;
  height: 100vh;
}
.preguntas .content-holder header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.preguntas .content-holder header img {
  max-width: 400px;
}
.preguntas .content-holder header p {
  margin: -30px auto 0 auto;
  width: 90%;
  font-family: "chalk", Sans, verdana;
  font-size: large;
}
.preguntas .content-holder .pizarras {
  width: 100%;
  text-align: center;
}
.preguntas .content-holder .pizarras figure {
  width: 15.5%;
  height: 220px;
  display: inline-block;
  background: url(images/cuadro.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
}
.preguntas .content-holder .pizarras figure p {
  position: absolute;
  width: 60%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  top: 60px;
  text-align: center;
  color: white;
  font-family: "chalk", Sans, verdana;
}
.preguntas .content-holder .pizarras figure .o-piz {
  height: 100%;
  width: 100%;
}
.preguntas .content-holder .respuesta form {
  max-width: 50%;
  margin: 0 auto;
}
.preguntas .content-holder .respuesta form textarea {
  max-height: 50px;
  width: 100%;
  margin: 5px auto;
  padding: 6px 12px;
  background: white;
  font-family: 'Raleway', Serif, Helvetica;
  transition: all 0.8s ease;
}
.preguntas .content-holder .respuesta form textarea:focus {
  background: gray;
  color: #a6a6a6;
  transition: all 0.8s ease;
}
.preguntas .content-holder .respuesta form input {
  width: 49.5%;
  display: inline-block;
  padding: 6px 12px;
  background: white;
  font-family: 'Raleway', Serif, Helvetica;
  transition: all 0.8s ease;
}
.preguntas .content-holder .respuesta form input:focus {
  background: gray;
  color: #a6a6a6;
  transition: all 0.8s ease;
}
.preguntas .content-holder .respuesta button {
  display: block;
  padding: 8px 12px;
  font-family: "bebas", helvetica, arial;
  background: #262626;
  color: #ffe400;
  font-size: x-large;
  margin: 20px auto;
}
.preguntas .content-holder .respuesta button:hover {
  cursor: pointer;
  background: #fff499;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  color: #737373;
}

.enchula .centered-leafs {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 99vw;
}
.enchula .centered-leafs img {
  width: 100vw;
  height: 100vh;
}
.enchula header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.enchula header img {
  max-width: 300px;
}
.enchula header p {
  margin: -30px auto 0 auto;
  width: 90%;
  font-family: "chalk", Sans, verdana;
  font-size: large;
}
.enchula .content-holder {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.enchula .content-holder .pizarron {
  width: 80%;
  margin: 0 auto;
  height: 350px;
  background: url(images/chalk-texture.png);
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
}
.enchula .content-holder .pizarron h1 {
  text-transform: lowercase;
  width: 50%;
  padding: 20px 0px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.enchula .content-holder .pizarron canvas {
  width: 100%;
  height: 300px;
}
.enchula .content-holder .emoji {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 40%;
}
.enchula .content-holder .emoji ul li {
  margin: 0px 12px;
}
.enchula .content-holder .emoji ul li:hover {
  cursor: pointer;
}
.enchula .content-holder .vaso {
  position: absolute;
  bottom: 80px;
  left: -10px;
  max-width: 200px;
}


.enchula .content-holder .buttons-holder{
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
}

.enchula .content-holder .buttons-holder button {
  display: inline-block;
  margin: 20px auto;
  padding: 8px 12px;
  font-family: "bebas", helvetica, arial;
  background: #262626;
  color: #ffe400;
  font-size: x-large;
}



.enchula .content-holder button:hover {
  cursor: pointer;
  background: #fff499;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  color: #737373;
}

.enviar .centered-leafs {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 99vw;
}
.enviar .centered-leafs img {
  width: 100vw;
  height: 100vh;
}
.enviar header {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.enviar header img {
  max-width: 400px;
}
.enviar header p {
  margin: -30px auto 0 auto;
  width: 90%;
  font-family: "chalk", Sans, verdana;
  font-size: large;
}
.enviar .content-holder {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.enviar .content-holder .pizarron  {
  width: 80%;
  margin: 0 auto;
  height: 350px;
/*  background: url(images/chalk-texture.png);*/
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(950px);
  -moz-transform: translateZ(950px);
  -ms-transform: translateZ(950px);
  -o-transform: translateZ(950px);
  transform: translateZ(950px);
}
.enviar .content-holder .pizarron h1 {
  text-transform: lowercase;
  width: 50%;
  padding: 20px 0px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.enviar .content-holder .pizarron #canvas {
  width: 100%;
  height: 300px;
}
.enviar .content-holder .pizarron #canvas figure {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.enviar .content-holder .pizarron #canvas p {
  width: 60%;
  margin: 30px auto;
  color: white;
  font-size: xx-large;
  font-family: "chalk", Sans, verdana;
  text-align: center;
}
.enviar .content-holder .button-holder {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 40%;
  text-align: center;
}
.enviar .content-holder .button-holder button {
  display: inline-block;
  margin: 20px auto;
  padding: 8px 12px;
  font-family: "bebas", helvetica, arial;
  background: #262626;
  color: #ffe400;
  font-size: x-large;
}
.enviar .content-holder .button-holder button:hover {
  cursor: pointer;
  background: #fff499;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  color: #737373;
}
.enviar .content-holder .vaso {
  position: absolute;
  bottom: -60px;
  left: -74px;
  max-width: 200px;
}

footer .modal {
  display: none;
  top: 0px;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
footer .modal section {
  padding: 20px;
  display: block;
  position: relative;
  top: -100vh;
  margin: 0 auto;
  max-width: 950px;
  min-height: 700px;
  background: url(images/chalk-texture.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  transition: all 0.8s ease;
}
footer .modal section .fa-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: xx-large;
  color: white;
  border: 1px solid white;
  padding: 4px 6px;
  transition: all 0.8s ease;
}
footer .modal section .fa-close:hover {
  color: #ffe400;
  cursor: pointer;
  transition: all 0.8s ease;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
}
footer .modal section header {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  color: white;
}
footer .modal section header h1 {
  color: #ffe400;
  font-size: 34px;
}
footer .modal section header p {
  font-family: "chalk", Sans, verdana;
}
footer .modal section header h3 {
  font-size: 28px;
}
footer .modal section .instrucciones {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 60%;
  transition: all 0.8s ease;
}
footer .modal section .instrucciones .p1 {
  position: absolute;
  right: 0px;
  left: 284px;
  top: 10px;
}
footer .modal section .instrucciones .recuerda {
  position: absolute;
  left: 4px;
  top: 40px;
}
footer .modal section .instrucciones .p2 {
  position: absolute;
  right: 20px;
  top: 88px;
}
footer .modal section .instrucciones .p3 {
  position: absolute;
  bottom: 120px;
  left: 15px;
}
footer .modal section .instrucciones .p4 {
  position: absolute;
  right: 80px;
  bottom: 60px;
}
footer .modal section .instrucciones .follow {
  position: absolute;
  top: 150px;
  left: 35%;
}
footer .modal section .instrucciones img {
  max-width: 250px;
}
footer .modal section .vaso {
  position: absolute;
  bottom: 10px;
  left: 15%;
  max-height: 200px;
}
footer .modal section .listo {
  width: 20%;
  position: absolute;
  bottom: 70px;
  left: 60%;
  max-height: 400px;
}
footer .modal section .listos {
  width: 60%;
  position: relative;
  top: 20%;
  margin: 0px auto;
  margin-top: 25%;
  max-height: 400px;
}
footer .modal section button {
  padding: 8px 12px;
  font-family: "bebas", helvetica, arial;
  background: white;
  color: #262626;
  font-size: x-large;
  position: relative;
  display: block;
  margin: 0px auto;
}
footer .modal section button:hover {
  cursor: pointer;
  background: #737373;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  color: white;
}
footer .modal section.alert1 {
  padding: 20px;
  display: block;
  position: relative;
  top: 25vh;
  margin: 0 auto;
  max-width: 650px;
  min-height: 250px;
  background: url(images/chalk-texture.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
}
footer .modal section.alert1 .fa-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: xx-large;
  color: white;
  border: 1px solid white;
  padding: 4px 6px;
  transition: all 0.8s ease;
}
footer .modal section.alert1 .fa-close:hover {
  color: #ffe400;
  cursor: pointer;
  transition: all 0.8s ease;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
}
footer .modal section.alert1 .vaso {
  position: absolute;
  bottom: -10px;
  left: -60px;
  max-height: 200px;
}
footer .modal section.alert1 h1 {
  color: white;
  width: 50%;
  margin: 10px auto;
  font-size: 2.4em;
  text-align: center;
}
footer .modal section.alert1 h3 {
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
footer .modal section.legal {
  color: white;
}
footer .modal section.legal h1 {
  margin: 40 auto;
  text-align: center;
  font-size: xx-large;
  width: 50%;
}
footer .modal section.legal .terminos {
  width: 80%;
  font-size: medium;
  text-transform: lowercase;
  margin: 0 auto;
}
footer .modal section.legal .terminos p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 12px 0px;
}
footer .modal section.legal button {
  margin: 40px auto;
  display: block;
  padding: 8px 12px;
  font-family: "bebas", helvetica, arial;
  background: #262626;
  color: #ffe400;
  font-size: x-large;
}
footer .modal section.legal button:hover {
  cursor: pointer;
  background: #fff499;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease 0.5s;
  -webkit-transform: translateZ(800px);
  -moz-transform: translateZ(800px);
  -ms-transform: translateZ(800px);
  -o-transform: translateZ(800px);
  transform: translateZ(800px);
  color: #737373;
}
#canvase{
  /*height: 300px;*/
}

@media all and (max-width: 800px) {
  .content .hojas-l, .content .hojas-r {
    z-index: 1;
  }
  .content .content-holder {
    z-index: 2;
  }
  .content .content-holder .man {
    display: none;
  }
  .content .content-holder section {
    height: 99vh;
    width: 100%;
    position: relative;
  }
  .content .content-holder section p {
    width: 90%;
    font-size: large;
  }
  .content .content-holder section .medio-vaso {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 45%;
  }

  .preguntas header {
    width: 100%;
  }
  .preguntas header img {
    width: 100%;
  }
  .preguntas header p {
    margin: 10px auto 20px auto !important;
    font-size: medium !important;
  }
  .preguntas .pizarras {
    width: 100%;
    overflow-x: scroll;
  }
  .preguntas .pizarras .pizarra-holder {
    width: 1118px;
    text-align: left;
  }
  .preguntas .pizarras .pizarra-holder figure {
    height: 324px;
    width: 250px;
  }
  .preguntas .respuesta form {
    max-width: 80% !important;
  }
  .preguntas .respuesta form input {
    margin: 10px auto;
    width: 100% !important;
  }

  .enchula {
    width: 100%;
  }
  .enchula .content-holder {
    width: 98%;
  }
  .enchula .content-holder header img {
    width: 100%;
  }
  .enchula .content-holder .pizarron h1 {
    width: 100%;
    font-size: medium;
  }
  .enchula .content-holder .respuesta .emoji {
    width: 100%;
  }
  .enchula .content-holder .vaso {
    display: none;
  }

  .enviar {
    width: 100%;
  }
  .enviar .content-holder {
    width: 98%;
  }
  .enviar .content-holder header img {
    width: 100%;
  }

  .enviar .content-holder .pizarron{
    width: 98%;
  }

  .enviar .content-holder .pizarron img{
    width: 100%;
  }

  .enviar .content-holder .pizarron h1 {
    width: 100%;
    font-size: large;
  }
  .enviar .content-holder .pizarron #canvas {
    margin: 0 auto;
  }
  .enviar .content-holder .pizarron #canvas p {
    width: 95% !important;
    font-size: x-large !important;
  }
  .enviar .content-holder .button-holder {
    width: 100%;
  }
  .enviar .content-holder .vaso {
    display: none;
  }

  footer .modal {
    position: absolute;
  }
  footer .modal section {
    height: auto;
    min-height: 428px !important;
    max-height: 600px !important;
    overflow-y: scroll;
  }
  footer .modal section header {
    width: 100%;
  }
  footer .modal section header h1 {
    font-size: large;
  }
  footer .modal section header p {
    font-size: medium;
  }
  footer .modal section .instrucciones {
    width: 100%;
    height: 190px;
    overflow-x: scroll;
  }
  footer .modal section .instrucciones .inst-holder {
    min-width: 1280px;
  }
  footer .modal section .instrucciones .inst-holder img {
    max-width: 250px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px 10px;
    display: inline-block;
    vertical-align: middle;
  }
  footer .modal section .instrucciones .inst-holder .follow {
    display: none;
  }
  footer .modal section .fa-close {
    font-size: large;
  }
  footer .modal section .vaso {
    display: none;
  }
  footer .modal section .listo {
    position: relative;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    display: block;
  }
}
